.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.leftAside {
  background: rgb(246, 240, 242);
  color: white;
  padding: 1rem;
}
.navItems {
  display: flex;
  flex-direction: column;
}
.content{
    flex: 1;       
  padding: 20px;
}
